h3.title_admin{
    text-align: center;
    font-size: 40px;
    color: red;
}
.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    color: red;
    margin: 0 auto;
}
.header{
    padding: 1px;
    text-align: left;
    background: #FF5E24;
    color: white;
    font-size: 20px;
}
.admin_list{
    background-color: #6BFA96;
    overflow: hidden;
}
ul.admin_list li a{
    float: left;
    color: #FF5E24;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
ul.admin_list li a:hover{
    background-color: #ddd;
    color: black;
}
ul.admin_list li a:active{
    background-color: #04AA6D;
    color: white;
}
ul.admin_list{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.admin_list li{
    float: left;
    margin: 5px;
}
.footer{
    border: 1px solid #DB2721;
    height: 50px;
    width: 89%;
    background: #FA9829;
    text-align: center;
    position: absolute;
}
th, td {
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: coral;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #04AA6D;
    color: white;
}
input {
    width: 100%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid red;
}
input[type=text] {
    background-color: #3CBC8D;
    color: white;
}
input[type=text]:focus {
    background-color: lightblue;
}
input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.clear{
    clear: both;
}